#addUserInfo row {
    height: 40px;
}

#addUserInfo button {
    border-radius: 0;
    border: none;
    padding-bottom: 5px;
}

#changeUserInfo row {
    height: 40px;
}

#changeUserInfo button {
    border-radius: 0;
    border: none;
    padding-bottom: 5px;
}